<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642865550673-90mhkfaphmegdghlf44phkvjfed4cg2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642865550673-90mhkfaphmegdghlf44phkvjfed4cg2b</string>
	<key>API_KEY</key>
	<string>AIzaSyAoedR-2rc473jO_goyjKB2_7uC50gW8F0</string>
	<key>GCM_SENDER_ID</key>
	<string>642865550673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>com-mynote-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>com-mynote-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642865550673:ios:a9c89338b28d6e8c44af70</string>
</dict>
</plist>